#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

img {
  user-select: none;
  width: 100%;
  height: auto;
  max-height: 50vh;
  object-fit: cover;
  border-radius: 05px;
}